///////////////////////////////////////
//
//
// IMPORT CONTENT
//
//
///////////////////////////////////////
@import "content.less";
///////////////////////////////////////
//
//
// LAYOUT
//
//
///////////////////////////////////////
html {
	background: @grey;
}
html:before, html:after {
	content: '';
	display: block;
	height: 10px;
	background: @white;
	width: 1080px;
	margin: 0 auto;
}
body {
	background: @white;
	padding: 60px;
	margin: 0 auto;
	height: auto;
	min-height: 100%;
	width: 1080px;
}
body.wp-autoresize.content {
	padding-top: 60px !important;
	padding-right: 60px !important;
	padding-bottom: 60px !important;
	padding-left: 60px !important;
}
///////////////////////////////////////
//
//
// HR
//
//
///////////////////////////////////////
.mceContentBody hr.cleaner {
	background: red;
	clear: both;
	float: none;
	margin: 0 0 -2px 0;
	position: relative;
	height: 2px;
	&:after {
		background-color: fade(red, 10%);
		border: 1px solid fade(red, 30%);
		border-radius: 0 0 2px 2px;
		color: fade(red, 60%);
		content: "séparateur";
		font-size: 8px;
		line-height: 10px;
		padding: 3px;
		position: absolute;
		bottom: 0;
		right: 0;
		text-transform: uppercase;
	}
}